<!--The content below is only a placeholder and can be replaced.-->
<app-header [list]="menuList" [buttonList]="buttonList" (onButtonClick)="view($event)"></app-header>
<input type="text" #inputTxt><button (click)="myClick(inputTxt.value)">Search</button>
<input type="text" [(ngModel)]="inputTxt1"><button (click)="myClick1()">Search</button>

    {{inputTxt1}} {{inputTxt.value}} 
<!--<div>
  <button (click)="View('list')" [ngClass]="{'selected' : viewList}">View Employee</button><button (click)="View('add')" [ngClass]="{'selected' : viewAdd}">Add Employee</button>
</div>-->
<div>
 <app-add-employee (onSubmit)="addEmp($event)" *ngIf="activeViewIndex === 1"></app-add-employee>
</div>
<div *ngIf="activeViewIndex === 0">
  <div style="text-align:center">
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Age</td>
          <td>View</td>
          <td>Delete</td>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let emp of employees;let i=index" [ngClass]="{'selected' : emp.selected}">
         <td>{{emp.name}}</td>
         <td>{{emp.age}}</td>
         <td><button (click)="selectEmployee(emp)">View Details</button></td>
         <td><button (click)="deleteEmp(i);">Delete</button></td>
       </tr>
     </tbody>
    </table>
 
</div>
<app-employee-details [selectedEmp]="selectedEmp"></app-employee-details>
</div>


